.req-container{
    display : flex;
    justify-content: space-evenly;
    font-size: 27px;
    margin-top: 50px;
}

.req{
    border-style: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 22px;
    padding: 12px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.myOrders{
    font-size: 30px
}

.request {
    display: inline-block;
    max-width: 19%;
}

.req-title {
    margin-bottom: 23px;
    font-weight: 400;
}

#req-title-small {
    margin-bottom: 53px;
}

.req-btn {
    margin: 8px;
    width: 103px;
    border-radius: 8px;
    font-size: 19px;
    padding: 4px;
    font-weight: 300;
}

#btn-acc {
    background-color: #63ce5ae7;
}

#btn-dec {
    background-color: #e44848c5;
}

#req-acc {
    background-color: #63ce5ae7;
}

#req-dec {
    background-color: #e44848c5;
}

#req-paid {
    background-color: #1b67d8e0
}