.filterContainer {
    width: 100%; 
}

.filter-btn-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 5px;
    border-radius: 25px;
    font-size: 13px;
    width: 150px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    letter-spacing: 1px;
    margin: 8px;
}

.price-filter {
    margin-bottom: 25px;
    display: inline-grid;
}

.filter-checkbox-container {
    margin-bottom: 20px;
}

label {
    margin-left: 30px;
}

.btn-box {
    margin-top: 15px;
    margin-bottom: 15px;
}

.chefProfiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.chef-dist {
    margin-top: 19px;
    font-size: 18px;
}