/*chefProfile css*/
.chef-main-container{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    border-style: none;
    padding: 15px;
    margin-left: 26px;
    width: 94%;
  }
  
  .chef-profile{
    display: flex;
    max-width: 44vw;
  margin-left: 60px;
  }
  
  .chef-info{
    text-align: left !important;
    line-height: 20px;
    margin-left: 25px;
    margin-top: -15px
  
  }
  .chef-meals-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  }
  .meals-offered-announce{
    margin-bottom: 20px;
    font-size: 26px;
  }

  .chef-name {
    font-size: 29px;
  }

  .chef-card-name {
    font-size: 20px;
    margin-top: 16px;
  }

  .chef-bio {
    font-size: 21px;
  }