.App {
  text-align: center;
}

/*********
* Everything application-wide
* gets defined here (i.e. all links, all buttons,
* all input fields general look and behavior, etc.)
*/

body {
  margin: 0px;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
}